@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.navbar{
  top: 0;
  padding: 25px 0;
  height: 100px;
}

nav .navbar-brand{
  margin: 0 50px;
}

.navbar-nav li{
  margin: 0 100px;
}

.nav-link{
  color: black;
}

section .section-1{
  background-image: url(./img/filtergrade-4T4AcGJvARQ-unsplash.jpg);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px;
}

section .section-4{
  background-image: url(./img/tenant-screening-appfolio-blog-1140x530.jpg);
  opacity: 0.5;
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 300px;
}

.social i{
  font-size: 30px;
}